body {
    margin: 0 auto;
    background-color: grey;
    width: 1200px;
    display: flex;
}

.container {
    width: 700px;
    padding: 2em 15em;
    background-color: #39343B;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

h1 {
    color: lavender;;
}